html, body {
    padding: 0; 
    margin: 0;
    font-family: 'Roboto Slab', cursive;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 12pt;
    }
  }
  
  @media only screen and (max-width: 320px) {
    body {
      font-size: 10pt;
    }
  }

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
}

nav {
    display: grid;
    justify-content: center;
}

.logo {
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo > a > img {
    /* object-fit: stretch; */
    max-width: 100vw;
    height: auto;
    width: 700px;
}

.list-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-content: center;
    width: 600px;
    max-width: 95vw;
    padding-inline-start: 2.5vw;
    padding-inline-end: 2.5vw;
}

.list-nav > li {
    width: 140px;
    background-color: #ecd875;
    color: black;
    padding: 5px 10px;
    border-radius: 25px;
    text-align: center;
}

.list-nav > li > a {
    text-decoration: none;
    color: black;
}

.chefs {
    text-align: center;
    padding-bottom: 3rem;
    max-width: 700px;
    justify-self: center
}

.chefs-text > img {
    /* object-fit: stretch; */
    max-width: 100vw;
    height: auto;
    width: 400px;
}

.imgs {
    display: grid;
    /* grid-gap: 10px; */
    max-width: 700px; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch; 
}

#cheeseboard {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 466px;
    max-width: 1.99vh;
}

#cheese_house_gate {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 233px;
    max-width: .99vh;
}

#table {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 233px;
    max-width: .99vh;
}
.imgs > img {
    object-fit: stretch;
    /* max-width: 100vw; */
    height: auto;
    /* width: 150px; */
}

.footer {
    background: #C5EC75;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 10px 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
}