html, body {
    padding: 0; 
    margin: 0;
    font-family: 'Roboto Slab', cursive;
    font-size: 22px;
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 20pt;
    }
  }
  
  @media only screen and (max-width: 320px) {
    body {
      font-size: 24pt;
    }
  }

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
}

nav {
    display: grid;
    justify-content: center;
}

.logo {
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo > a > img {
    object-fit: stretch;
    max-width: 700px;
    height: auto;
    width: 100%;
}

.list-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-content: center;
    width: 600px;
    max-width: 100%;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

.list-nav > li {
    width: 230px;
    background-color: #ecd875;
    color: black;
    padding: 5px 10px;
    border-radius: 25px;
    text-align: center;
}

.list-nav > li > a {
    text-decoration: none;
    color: black;
}

.menu {
    text-align: center;
    padding-bottom: 3rem;
}

.menu-img {
    display: grid;
    justify-content: center;
    align-items: center;
}

.menu-img > img {
    object-fit: stretch;
    max-width: 100%;
    height: auto;
    width: 700px;
}

.footer {
    background: #C5EC75;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 10px 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    font-size: 0.65rem;
}