{% extends "layout.html" %}
{% block content %}
    <div class="home">
        <meta charset="UTF-8">
        <title>Beth Archibald Translations</title>
        <h1>Beth Archibald Translations!</h1>
        <p>Welcome to Beth Archibald Translations! The home of the best German Translation! Bitte!</p>
        <img src="https://da0zqwqi6g0u2.cloudfront.net/img/IMG_5216.JPG" alt="Beth Archibald">
        <br>
        <p>Test</p>
        <a href="{{ url_for('about') }}">About Beth Archibald</a>
    </div>
{% endblock %}